header {
    background: white;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 80px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background: rgb(74, 169, 200);
}

h2 {
    font-size: 30px;
    font-weight: bold;
    
}

.alinhado li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.produto-descricao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    top: 20px;
}

.espaco {
    white-space: pre;
}

footer {
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 250px 0 0;
}

.redes li a {
    text-transform: uppercase;;
    color: #e1dcdc;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 100px;
}